@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #e5e5e5;
  --foreground: #171717;
  --blandoBlue: #001eff;
  --font-antique: var(--font-s-antique), serif;
  --font-regular: var(--font-regular), sans-serif;
  --font-thin: var(--font-s-thin), sans-serif;
  --font-ppbold: var(--font-pp-bold), sans-serif;
  --font-ppregular: var(--font-pp-regular), sans-serif;
  font-size: 18px;
}
html {
  /* font-size: 18px; */
  background: var(--background);
}
body {
  color: var(--foreground);
  background: var(--background);
  cursor: none; /* Nasconde il cursore standard */
}

/* Stile del pallino personalizzato */
@media (min-width: 750px) {
  #custom-cursor {
    position: fixed;
    width: 1vw; /* Dimensione del pallino */
    height: 1vw;
    background-color: #00FF33;
    border-radius: 50%;
    pointer-events: none; /* Assicura che non blocchi interazioni */
    z-index: 9999; /* Porta il cursore sopra altri elementi */
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-in-out; /* Animazione morbida */
  }
}
.effect-difference {
  mix-blend-mode: difference;
  transition: all 0.3s ease-in-out;
}

/* Regole per il titolo centrale */
#header-center-title {
  background: none; /* Assicurati che lo sfondo sia trasparente */
  color: var(--blandoBlue);
}

#header-main-title {
  font-family: var(--font-ppregular);
  font-weight: 700;
  font-style: normal;
  font-weight: 400;
}

#header-year {
  font-family: "PP Mondwest";
  font-style: normal;
  font-weight: 400;
}
